[submodule "benchmarks"]
	path = benchmarks
	url = git@github.com:iu-parfunc/prof_apps.git
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = git@github.com:iu-parfunc/asmjit.git  
[submodule "deps/elph"]
	path = deps/elph
	url = git@github.com:iu-parfunc/elph.git
[submodule "deps/doctest"]
	path = deps/doctest
	url = git@github.com:onqtam/doctest.git
[submodule "deps/distorm"]
	path = deps/distorm
	url = git@github.com:gdabah/distorm.git
